<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <h2 class="page-title">
            Danger Center
            </h2>
            <div class="page-pretitle">
            Module
            </div>
            
          </div>
          <!-- Page title actions -->
         
        </div>
      </div>
    </div>







    
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">

      <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 col-lg-6 ">
                    <img src="./static/illustrations/danger1.1.svg" alt="Danger1" class="rounded">
                    
                  </div>
                  <div class="col">
                    
                          <h1>The Danger Center</h1>
                      
                      <p>Imagine facing a lion while walking through a jungle. You can either fight or run away. In either case, “danger centre” in your brain becomes active. The “danger centre” immediately sends an emergency call to the body. As soon as the message is received your heart beats faster, muscles become tense, blood moves to muscles and your breathing accelerates. Your senses (for example seeing, hearing and smelling) become sharper. These physical changes make you stronger and alert and ready to face the dangerous situation. Your nervous system isn’t very good at distinguishing between emotional and physical threats. The modern-day stressors are also perceived by the danger centre as threats. You experience these reactions as stress. Breathing and relaxation exercises can deactivate your danger centre.</p>
                    
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
      
      <div class="row row-cards">
          
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <ul class="pagination ">
                  <li class="page-item page-prev">
                    <a class="page-link" href="fight_score.php" tabindex="-1" aria-disabled="true">
                      <div class="page-item-subtitle">previous</div>
                      <div class="page-item-title">Your Score</div>
                    </a>
                  </li>
                  <li class="page-item page-next">
                    <a class="page-link" href="dangercenter2.php">
                      <div class="page-item-subtitle">next</div>
                      <div class="page-item-title">Resources  </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>