<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Stress
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module5.svg"
                                    alt="Food Deliver UI dashboards" class="rounded">
                            </div>
                            <div class="col">

                                <h1>Khatoon Bibi</h1>

                                <p>

                                    Khatoon Bibi was a high school teacher in Waseela Poor. Her husband was a successful
                                    businessman. She always worried about her children’s education. She was a born
                                    worrier. For the last 6 months, she was experiencing palpitations, sweating of palms
                                    and pins and needles in her hands and feet. She also suffered from a headache and
                                    had become irritable over small things. She experienced gas in her stomach. She
                                    believed that she is suffering from a heart problem. She went to see a cardiologist
                                    along with her neighbour Nasreen. The cardiologist said she has symptoms of anxiety
                                    and is experiencing stress. She was referred to Dr Samajh Daar, who gave her the
                                    address of this website. </p>

                            </div>
                        </div>
                    </div>
                </div>






                <div class="row row-cards">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="pagination ">
                                    <li class="page-item page-prev ">
                                        <a class="page-link" [routerLink]="'../khushi-Muhammad'" tabindex="-1"
                                            aria-disabled="true">
                                            <div class="page-item-subtitle">previous</div>
                                            <div class="page-item-title">Khushi Muhammad</div>
                                        </a>
                                    </li>
                                    <li class="page-item page-next">
                                        <a class="page-link" [routerLink]="'../intro-to-danger-center'">
                                            <div class="page-item-subtitle">next</div>
                                            <div class="page-item-title">Intro to Danger center</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>