<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Stress
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Move cursor on an image to learn causes of stress</h1>
                        <br><br>
                        <div class="row align-items-center">


                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.1.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Financial Problems"
                                    data-bs-original-title="Financial Problems">
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.2.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Child's Marriage"
                                    data-bs-original-title="Child's Marriage">
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.3.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Health Problems"
                                    data-bs-original-title="Health Problems">
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.4.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Educational Problems"
                                    data-bs-original-title="Educational Problems">
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.5.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Relationship Problems"
                                    data-bs-original-title="Relationship Problems">
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module2.6.svg" alt="" class="rounded"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Work Related Problems"
                                    data-bs-original-title="Work Related Problems">
                            </div>


                        </div>
                    </div>
                </div>
            </div>




            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../causes'" tabindex="-1" aria-disabled="true">
                                        <div class="page-item-subtitle">previous</div>
                                        <div class="page-item-title">Stress Intro</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../symptoms'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Symptoms</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>