<div class="page-wrapper">

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Stress
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/Stress_module4.svg"
                                    alt="Food Deliver UI dashboards" class="rounded">
                            </div>
                            <div class="col">

                                <h1>Khushi Muhammad</h1>

                                <p>
                                    Khushi Muhammad was a farmer from Khushhaal Nagar. For the last two years, he was
                                    facing financial problems. He started feeling stressed and unhappy. For the last few
                                    weeks, he was feeling tired and depressed all the time. Over time hopelessness and
                                    sadness increased. The Hakim of the village told him that his liver is not working
                                    properly. However, this treatment made no difference. He went to see a
                                    gastroenterologist to find out what is wrong with his liver. The gastroenterologist
                                    said that he has symptoms of depression due to long-term stress. He referred him to
                                    Dr Samajh Daar. Dr Samajh Daar gave Khushi a Cognitive Therapy based self-help book.
                                    Khushi could hardly read and write. His son helped him.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>






                <div class="row row-cards">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="pagination ">
                                    <li class="page-item page-prev ">
                                        <a class="page-link" [routerLink]="'../symptoms'" tabindex="-1" aria-disabled="true">
                                            <div class="page-item-subtitle">previous</div>
                                            <div class="page-item-title">Symptoms</div>
                                        </a>
                                    </li>
                                    <li class="page-item page-next">
                                        <a class="page-link" [routerLink]="'../khatoon-bibi'">
                                            <div class="page-item-subtitle">next</div>
                                            <div class="page-item-title">Khatoon Bibi</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>