<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Scale [demo text]
                    </h2>
                    <div class="page-pretitle">
                        demo text
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">



            <div class="row row-cards">

                <div class="col-12">
                    <form class="card">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter table-striped ">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h3>During The Last One Week Did You</h3>
                                            </th>
                                            <th>
                                                <h3>0=Minimum Problem 10=Maximum Problem</h3>
                                            </th>
                                            <th class="w-1"></th>

                                        </tr>
                                    </thead>
                                    <tbody>



                                        <tr>
                                            <td>1. Find it difficult to go to sleep because of stress </td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_1" onchange="rangeWarning1.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning1" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2. Experience physical symptoms of stress </td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_2" onchange="rangeWarning2.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning2" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>3. Feel there is no hope, and, there is no future</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_3" onchange="rangeWarning3.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning3" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>4. Feel that you were losing control of things in your life</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_4" onchange="rangeWarning4.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning4" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>5. Feel that you can not cope with things anymore</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_5" onchange="rangeWarning5.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning5" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>6. Think that you can not handle your personal problems</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_6" onchange="rangeWarning6.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning6" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>7. Feel that thing were getting out of your hand</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_7" onchange="rangeWarning7.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning7" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>8. Often feel agitated, restless or moody</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_8" onchange="rangeWarning8.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning8" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>9. Feel unable to control irritability or anger over minor things</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_9" onchange="rangeWarning9.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning9" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>10. Easily become frustrated with things</td>
                                            <td>
                                                <input type="range" class="form-range mb-2" name="q_1" min="0" max="10"
                                                    value="0" [(ngModel)]="stress.q_10" onchange="rangeWarning10.value=value">
                                            </td>
                                            <td>
                                                <output id="rangeWarning10" class="avatar bg-blue-lt"
                                                    style="font-size:1.2rem;">0</output>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">

                                <button type="button" class="btn  btn-primary ms-auto" (click)="saveModule()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>






            </div>
        </div>
    </div>
</div>