<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Stress
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/Stress_module1.svg" alt="Stressed" class="rounded">
                            </div>
                            <div class="col">

                                <h1>What is stress?</h1>

                                <p>Stress is a normal human response to threatening events. Stress isn’t always bad. The
                                    stress response is the body’s way of protecting you. In small doses, it can help you
                                    perform under pressure and motivate you to do your best. However, if you face the
                                    stressful situation for an extended period, it can have a devastating effect on your
                                    emotional and physical health, relationships and quality of life.</p>
                                <p> What are the causes of stress?</p>
                                <p> Life events or losses, for example, changes at work, housing problems, the death of
                                    a relative, relationship issues or children's problems etc. Sometimes even the
                                    promotion at work can cause stress. Now, think about the causes of stress in your
                                    life. </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        <div class="page-item-subtitle">previous</div>
                                        <div class="page-item-title">Getting started</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../causes'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Causes</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>